fastapi==0.115.0
uvicorn[standard]==0.30.6
python-dotenv==1.0.1
pydantic==2.9.2
loguru==0.7.2

psycopg[binary]==3.2.1
sqlalchemy==2.0.35
sqlparse==0.5.1

transformers==4.44.2
accelerate==0.34.2
peft==0.12.0
datasets==2.21.0
sentence-transformers==3.0.1
langchain==0.2.16
langchain-community==0.2.16
langchain-text-splitters==0.2.4
chromadb==0.5.5

# bitsandbytes==0.43.3   # (enable later in WSL2/Linux)
